html, body{
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  background-color: #181717;
  min-height: 50px;
  flex: 0 1 auto;
  color: white;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  box-sizing: border-box;
  padding: 32px;

}



 main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
} 



.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul, li {
  text-align: left;
  list-style: none;
}



img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2px 5px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #282c34;
  }
  
  .App {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
  }
  
  header {
    background-color: #181717;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  

  
  main {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  

  
  form{
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: min(728px,100svw);
    display:  flex;
    flex-direction: row;
  } 
  
  #submitbutton {
    width: 10%;
    background-color: rgb(56, 56, 143);
  }
  
  
  .textinput {
    width:100%;
    font-size: 1.5rem;  
    color: black;
    font-weight: 700;
  }
  
  button {
    background-color: #282c34; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  

}